<% include partials/header %>
    <div class="parkHeader header parallax-window" data-parallax="scroll" data-speed='.5' data-image-src="<%= randImage %>">
        <div class="parkHeaderBlock">
                <h1><%= parks['data'][0]['name'] %></h1>
                <hr class="divider">
                <h2><%= parks['data'][0]['designation'] %> - <%= parks['data'][0]['states'] %></h2>
        </div>
    </div>
    <div class="content pure-g">
        <div class="park pure-u-1 pure-g">
            <%  if(alerts['data'][0]){ %>
                <div class="alerts pure-u-1">
                    <% alerts['data'].forEach(function(alert){ %>
                        <div class="pure-alert-card <%= alert['category'] %>">
                            <div class="alert-head"><i id="<%= alert['category'] %>" class="infocon fas"></i><h4 class="alert-title"><%= alert['title'] %></h4><i id="arrow" class="fas fa-angle-up"></i></div>
                            <div class="hidden">
                                <p><%= alert['description'] %></p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>
            <div class="description pure-card-park pure-u-1">
                <h2 class="content-subheader">Description</h2>
                <p><%= parks['data'][0]['description'] %></p>
            </div>
            <div class="pure-u-1 pure-g flex-row">
                <div class="directions pure-card-park">
                        <h2 class="content-subheader">Directions</h2>
                        <iframe id="parkMap"
                                width="100%"
                                height="300vh"
                                frameborder="0" 
                                style="border:0"
                                <% let latLong = parks['data'][0]['latLong'].slice(4,16) + parks['data'][0]['latLong'].slice(22,35) %>
                                src="https://www.google.com/maps/embed/v1/place?q=<%= parks['data'][0]['name'] %><%= googleKey %>" 
                                allowfullscreen>
                        </iframe>
                        <p><%= parks['data'][0]['directionsInfo'] %></p>
                </div>
                <div class="weather">
                    <div class="pure-card-park pure-u-1 flexgrow mt-0">
                        <h2 class="content-subheader">Today's Weather</h2>
                        <div class="weather-card">
                            <div class="weather-main center-align">
                                    <i class="wi wi-owm-<%= weather['weather'][0]['id'] %> wi-main"></i>
                                    <h5 class='wi-discriptor'><%= weather['weather'][0]['main'] %></h5>
                                    <h5 class='wi-discriptor'><%= weather['main']['temp'] %> °F</h5>
                            </div>
                            <div class="weather-body">
                                <div class="top-row">
                                    <div class="tempature">
                                        <div class="temp">
                                            <i class="wi wi-thermometer"></i> High: <%= weather['main']['temp_max'] %> °F
                                        </div>
                                        <div class="temp">
                                            <i class="wi wi-thermometer-exterior"></i> Low: <%= weather['main']['temp_min'] %> °F
                                        </div>
                                    </div>
                                </div>
                                <hr class="divider">
                                <div>
                                    <div class="forecast">
                                        <div class="wind">
                                            <% let direction = Math.round(Math.round(weather['wind']['deg']/22.5) * 22.5); %>
                                            <i class="wi wi-strong-wind"></i> <%= weather['wind']['speed'] %>mph <i class="wi wi-wind towards-<%= direction %>-deg"></i>
                                        </div>
                                        <div class="humidity">
                                            <i class="wi wi-humidity"></i> <%= weather['main']['humidity'] %>%
                                        </div>
                                        <div class="clouds">
                                            <i class="wi wi-cloudy"></i> <%= weather['clouds']['all'] %>%
                                        </div>
                                    </div>
                                </div>
                                <hr class="divider">
                                <div class="bottom-row">
                                    <div class="sunTimes">
                                        <div id="sunrise">
                                            <% var sunriseDate = new Date(weather['sys']['sunrise'] *1000); %>
                                            <% var sunriseHours = sunriseDate.getHours(); %>
                                            <% var sunriseMinutes = "0" + sunriseDate.getMinutes(); %>
                                            <% var sunriseSeconds = "0" + sunriseDate.getSeconds(); %>
                                            <% var sunriseTime = sunriseHours + ':' + sunriseMinutes.substr(-2) + ':' + sunriseSeconds.substr(-2); %>
                                            <i class="wi wi-sunrise"></i> Sunrise: <%= sunriseTime %>UTC
                                        </div>
                                        <div id="sunset">
                                            <% var sunsetDate = new Date(weather['sys']['sunset'] *1000); %>
                                            <% var sunsetHours = sunsetDate.getHours(); %>
                                            <% var sunsetMinutes = "0" + sunsetDate.getMinutes(); %>
                                            <% var sunsetSeconds = "0" + sunsetDate.getSeconds(); %>
                                            <% var sunsetTime = sunsetHours + ':' + sunsetMinutes.substr(-2) + ':' + sunsetSeconds.substr(-2); %>
                                            <i class="wi wi-sunset"></i> Sunset: <%= sunsetTime %>UTC
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-card-park pure-u-1 flexgrow mb-0">
                        <h2 class="content-subheader">Climate Info</h2>
                        <p><%= parks['data'][0]['weatherInfo'] %></p>
                    </div>
                </div>
            </div>
            <div class="visitorcenters pure-card-park pure-u-1">
                    <h2 class="content-subheader">Visitor Centers</h2>
                <% visitorCenter['data'].forEach(function(center){ %>
                    <div class="visitorCenter pure-g">
                        <h3 class="pure-u-1 visitorCenterDivider"><%= center['name'] %><i id="arrow" class="fas fa-angle-up"></i></h3>
                        <div id="visitorInfo" class=" hidden">
                            <div class="pure-u-10-24 pure-u-lg-6-24">
                                <h4>Phone:</h4>
                                <% center['contacts']['phoneNumbers'].forEach(function(number){ %>
                                    </p><%= number['type'] %>: <%= number['phoneNumber'] %></p>
                                <%})%>
                                    
                                <h4>Email:</h4>
                                <% center['contacts']['emailAddresses'].forEach(function(email){ %>
                                    </p><%= email['emailAddress'] %></p>
                                <%})%>
                                
                                <h4>Address:</h4>
                                <% center['addresses'].forEach(function(address){ %>
                                    <h5><%= address['type'] %>:</h5>
                                    <p><%= address['line1'] %> <br>
                                    <% if(address['line2']){ %>
                                        <%= address['line2'] %> <br>
                                    <% } %>
                                    <% if(address['line3']){ %>
                                        <%= address['line3'] %> <br>
                                    <% } %>
                                    <%= address['city'] %>, <%= address['stateCode'] %> <%= address['postalCode'] %></p>
                                <%})%>   
                            </div>
                            <div class="pure-u-14-24 pure-u-lg-18-24 pure-g">
                                <% if(center['operatingHours'][0]){ %>
                                    <h4 class="pure-u-1">Hours:</h4>
                                    <ul class="pure-u-1 pure-u-lg-11-24"> Standard Hours:
                                        <li><strong>Monday:</strong> <%= center['operatingHours'][0]['standardHours']['monday'] %></li>
                                        <li><strong>Tuesday:</strong> <%= center['operatingHours'][0]['standardHours']['tuesday'] %></li>
                                        <li><strong>Wednesday:</strong> <%= center['operatingHours'][0]['standardHours']['wednesday'] %></li>
                                        <li><strong>Thursday:</strong> <%= center['operatingHours'][0]['standardHours']['thursday'] %></li>
                                        <li><strong>Friday:</strong> <%= center['operatingHours'][0]['standardHours']['friday'] %></li>
                                        <li><strong>Saturday:</strong> <%= center['operatingHours'][0]['standardHours']['saturday'] %></li>
                                        <li><strong>Sunday:</strong> <%= center['operatingHours'][0]['standardHours']['sunday'] %></li>
                                    </ul>
                                    <% center['operatingHours'].forEach(function(hours){ %>
                                        <% hours['exceptions'].forEach(function(exception){ %>
                                            <ul class="pure-u-1 pure-u-lg-11-24"> <%= exception['name'] %>: <br>
                                                (from: <%= exception['startDate'] %> to: <%= exception['endDate'] %>)
                                                <li><strong>Monday:</strong> <%= exception['exceptionHours']['monday'] %></li>
                                                <li><strong>Tuesday:</strong> <%= exception['exceptionHours']['tuesday'] %></li>
                                                <li><strong>Wednesday:</strong> <%= exception['exceptionHours']['wednesday'] %></li>
                                                <li><strong>Thursday:</strong> <%= exception['exceptionHours']['thursday'] %></li>
                                                <li><strong>Friday:</strong> <%= exception['exceptionHours']['friday'] %></li>
                                                <li><strong>Saturday:</strong> <%= exception['exceptionHours']['saturday'] %></li>
                                                <li><strong>Sunday:</strong> <%= exception['exceptionHours']['sunday'] %></li>
                                            </ul>
                                        <%})%>
                                    <%})%>
                                <%}%>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
<% include partials/footer %>